# Libraries

In [7]:
import numpy
import matplotlib as plt
import pandas as pd

# Importing Dataset

In [8]:
df_1 = pd.read_csv("foodstruct_nutritional_facts.csv")

In [9]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Food Name                             1174 non-null   object
 1   Category Name                         1174 non-null   object
 2   Calcium                               1149 non-null   float64
 3   Calories                              1174 non-null   float64
 4   Carbs                                 1174 non-null   float64
 5   Cholesterol                           1119 non-null   float64
 6   Copper                                1094 non-null   float64
 7   Fats                                  1174 non-null   float64
 8   Fiber                                 1076 non-null   float64
 9   Folate                                1071 non-null   float64
 10  Iron                                  1153 non-null   float64
 11  Magnesium                             1113 non-null   float64
 12  Monounsaturated Fat                   1064 non-null   float64
 13  Net carbs                             1173 non-null   float64
 14  Omega-3 - DHA                         902 non-null    float64
 15  Omega-3 - DPA                         895 non-null    float64
 16  Omega-3 - EPA                         903 non-null    float64
 17  Phosphorus                            1126 non-null   float64
 18  Polyunsaturated fat                   1064 non-null   float64
 19  Potassium                             1129 non-null   float64
 20  Protein                               1174 non-null   float64
 21  Saturated Fat                         1093 non-null   float64
 22  Selenium                              1020 non-null   float64
 23  Sodium                                1153 non-null   float64
 24  Trans Fat                             634 non-null    float64
 25  Vitamin A (IU)                        1118 non-null   float64
 26  Vitamin A RAE                         1056 non-null   float64
 27  Vitamin B1                            1115 non-null   float64
 28  Vitamin B12                           1083 non-null   float64
 29  Vitamin B2                            1116 non-null   float64
 30  Vitamin B3                            1115 non-null   float64
 31  Vitamin B5                            975 non-null    float64
 32  Vitamin B6                            1091 non-null   float64
 33  Vitamin C                             1124 non-null   float64
 34  Zinc                                  1108 non-null   float64
 35  Choline                               732 non-null    float64
 36  Fructose                              302 non-null    float64
 37  Histidine                             709 non-null    float64
 38  Isoleucine                            713 non-null    float64
 39  Leucine                               713 non-null    float64
 40  Lysine                                721 non-null    float64
 41  Manganese                             1012 non-null   float64
 42  Methionine                            718 non-null    float64
 43  Phenylalanine                         710 non-null    float64
 44  Starch                                199 non-null    float64
 45  Sugar                                 874 non-null    float64
 46  Threonine                             712 non-null    float64
 47  Tryptophan                            710 non-null    float64
 48  Valine                                713 non-null    float64
 49  Vitamin D                             829 non-null    float64
 50  Vitamin E                             816 non-null    float64
 51  Vitamin K                             791 non-null    float64
 52  Omega-3 - ALA                         176 non-null    float64
 53  Omega-6 - Eicosadienoic acid          265 non-null    float64
 54  Omega-6 - Gamma-linoleic acid         170 non-null    float64
 55  Omega-3 - Eicosatrienoic acid         114 non-null    float64
 56  Omega-6 - Dihomo-gamma-linoleic acid  119 non-null    float64
 57  Omega-6 - Linoleic acid               141 non-null    float64
 58  Omega-6 - Arachidonic acid            1 non-null      float64
dtypes: float64(57), object(2)
memory usage: 541.3+ KB

In [10]:
df_1

,Food Name,Category Name,Calcium,Calories,Carbs,Cholesterol,Copper,Fats,Fiber,Folate,...,Vitamin D,Vitamin E,Vitamin K,Omega-3 - ALA,Omega-6 - Eicosadienoic acid,Omega-6 - Gamma-linoleic acid,Omega-3 - Eicosatrienoic acid,Omega-6 - Dihomo-gamma-linoleic acid,Omega-6 - Linoleic acid,Omega-6 - Arachidonic acid
0,Acerola,Fruits,0.012,32.0,7.7,0.000,0.00009,0.30,1.1,0.000014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apple,Fruits,0.006,52.0,14.0,0.000,0.00003,0.17,2.4,0.000003,...,0.000000e+00,0.00018,2.200000e-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apricot,Fruits,0.013,48.0,11.0,0.000,0.00008,0.39,2.0,0.000009,...,0.000000e+00,0.00089,3.300000e-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dried fruit,Fruits,0.055,241.0,63.0,0.000,0.00034,0.51,7.3,0.000010,...,0.000000e+00,0.00430,3.100000e-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Avocado,Fruits,0.012,160.0,8.5,0.000,0.00019,15.00,6.7,0.000081,...,0.000000e+00,0.00210,2.100000e-05,0.11,0.00,0.02,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,Sesame chicken,"Meals, Entrees, and Side Dishes",0.012,293.0,27.0,0.059,0.00005,14.00,0.7,0.000008,...,1.000000e-07,0.00130,2.700000e-05,0.77,0.01,0.04,0.0,0.01,5.9,NaN
1170,Vermicelli,"Meals, Entrees, and Side Dishes",0.055,331.0,82.0,0.000,0.00190,0.10,3.9,0.000000,...,0.000000e+00,0.00051,3.800000e-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1171,Baby food,Baby Foods,0.733,379.0,73.0,0.000,0.00033,4.40,7.5,0.000043,...,0.000000e+00,0.00370,1.500000e-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1172,Zwieback,Baby Foods,0.020,426.0,74.0,0.008,0.00015,9.70,2.5,0.000087,...,0.000000e+00,0.00240,9.000000e-07,NaN,0.00,NaN,NaN,NaN,NaN,NaN
1173,Cherry juice,Baby Foods,0.007,47.0,11.0,0.000,0.00002,0.10,0.3,0.000000,...,0.000000e+00,0.00002,2.000000e-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN